##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Python
##############################
__pycache__

##############################
## mc-moji
##############################
output_*.png

